@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

main#app {
  position: relative;
  top: 10%;
}

.equisfiles-boton {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border: 1px solid #33c82e;
  background-image: url('https://i.imgur.com/FxXgjsE.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: #33c82e 0.1em 0.1em 0.2em;
  font-weight: bold;
  font-family: inherit;
  line-height: 1;
  font-size: 15px;
  border-radius: 30px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  position: absolute;
  top: 25px;
  right: 25px;
  text-decoration: none;
}

.equisfiles-boton:hover {
  border-color: #850aff;
  background-image: none;
  background-color: transparent;
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 15px;
  color: #1eff00;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #1eff00;
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}
.ring:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #1eff00;
  border-right: 3px solid #1eff00;
  border-radius: 50%;
  animation: animateCircle 2s linear infinite;
}
.loading {
  margin-top: 130px;
}
.ring span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}
.ring span:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #1eff00;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #1eff00;
}
@keyframes animateCircle {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes animate {
  0%{
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(405deg);
  }
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #98a98f;
}

header {
  position: absolute;
  left: 15%;
  margin-bottom: 2rem;
}

.logo {
  max-width: 70% !important;
  position: relative;
  right: 120px !important;
  top: 50px;
  opacity: 0.8;
}

img.banner_equisurl {
  position: absolute;
  top: 140px;
  border-radius: 25px;
}

.error {
  background: #A63446;
  padding: 0.5rem 1rem;
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  margin: 1rem 0;
  max-width: 100%;
}

.input {
  font-family: inherit;
  padding-bottom: 1rem;
  background: none;
  border: none;
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  text-align: center;
  font-size: 1.25rem;
  transition: border-bottom-color 0.3s ease-in-out;
  caret-color: #56BC58;
  border-radius: 25px;
}

.input:focus {
  outline: none;
  border-bottom-color: #00ff04;
}

.input::placeholder {
  color: #ffffff;
  opacity: 0.7;
}

.create {
  cursor: pointer;
  font-family: 'Permanent Marker', sans-serif;
  font-size: 1.13rem;
  color: #70e500;
  border: none;
  border-radius: 25px;
  background-color: transparent;
  padding: 0.45em 1.05rem;
  margin: 1rem 1.5rem;
  max-width: 80%;
  border: 1px solid #3aa13c;
}

.footer {
  color: white;
  overflow-x: hidden;
  padding: 7vmin 22vmin;
  padding-bottom: 15px;
}

footer {
  position: relative;
  top: 32%;
}

footer .sp {
  color: #850aff;
  text-decoration: transparent;
}

footer .sp:hover {
  color: #38244e;
}

.create:hover {
  transition-property: background-color, color;
  transition-duration: 0.5s;
  transition-delay: 0.15s;
  background-color: #3aa13c;
  color: #fff;
}

.created {
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

.created a {
  color: inherit;
}

.created-url {
  background-color: rgba(0, 255, 0, 0.400);
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 25px;
}

.created-url:hover {
  color: #000;
}

@media(min-width:320px){
  header {
    position: absolute;
    top: 1%;
    margin-bottom: 2rem;
  }
  .logo {
    display: flex;
    max-width: 76% !important;
    position: fixed;
    top: 459px;
    right: 36px !important;
    image-rendering: -moz-crisp-edges;
  }
  img.banner_equisurl {
    position: absolute;
    top: 90px;
    border-radius: 25px;
    width: 80%;
  }
  main#app {
    position: relative;
    top: 5%;
  }
  .footer {
    padding: 0;
  }
}

@media(min-width:768px){
  header {
    position: absolute;
    left: 0%;
    margin-bottom: 2rem;
  }
  .logo {
    display: flex;
    max-width: 46% !important;
    position: fixed;
    top: 520px;
    right: 199px !important;
    image-rendering: -moz-crisp-edges;
  }
  img.banner_equisurl {
    position: absolute;
    top: 90px;
    border-radius: 25px;
    width: 60%;
  }
}

@media(min-width:1024px){
  header {
    position: absolute;
    left: 1%;
    margin-bottom: 2rem;
  }
  .logo {
    max-width: 60% !important;
    position: relative;
    right: 10px !important;
    top: 200px;
    opacity: 0.8;
  }
  img.banner_equisurl {
    position: absolute;
    top: 90px;
    border-radius: 25px;
    width: 28%;
  }
}

@media(min-width:1444px){
  header {
    position: absolute;
    left: 1%;
    margin-bottom: 2rem;
  }
  .logo {
    max-width: 60% !important;
    position: relative;
    right: 160px !important;
    top: 278px;
    opacity: 0.8;
  }
}

@media(min-width:2560px){
  header {
    position: absolute;
    left: 1%;
    margin-bottom: 2rem;
  }
  .logo {
    max-width: 100% !important;
    position: relative;
    right: 199px !important;
    top: 40px;
    opacity: 0.8;
  }
}